<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Directory_of_commercial_banks.Properties.Settings.directory_of_commercial_banksConnectionString"
            connectionString="Data Source=DESKTOP-BTPASGH;Initial Catalog=directory_of_commercial_banks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>